<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header.ejs'); %></header>

    <main>
      <div class="jumbotron col-8 m-auto">
        <div class='d-flex justify-content-around my-5'>
          <h1 class='text-center'>Course Table</h1> 
          <button class='btn btn-outline-primary' onclick='addCourseClicked()'>Add Course</button>
        </div>

        <% if(results.length) {%>

        <table class="table table-bordered border-primary text-center">
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Duration</th>
            <th>Fees</th>
            <th>Actions</th>
          </tr>
          
          <% for(let i=0; i<results.length; i++) {%>
            <tr>
              <td><%= (limit*(page-1))+(i + 1) %></td>
              <td><%= results[i].course_name %></td>
              <td><%= results[i].course_duration %></td>
              <td><%= results[i].course_fees %></td>
              <td>
                
                <ul class="list-inline m-0">
                  <li class="list-inline-item">
                    <button class="btn btn-success btn-sm rounded-0" type="button" title="Edit" name=`edit-<%= results[i].course_id %>` onclick="editClicked(this.name)"><i class="fa fa-edit"></i></button>  
                  </li>
                  <li class="list-inline-item">
                    <button class="btn btn-danger btn-sm rounded-0" type="button" title="Delete" name=`delete-<%= results[i].course_id %>` onclick="deleteClicked(this.name)"><i class="fa fa-trash"></i></button>
                  </li>
                </ul>

              </td>
            </tr>
         <% } %>
        </table>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item" id=page/<%- previousPage %>/<%- limit %>/<%- totalPages %>/prev>
              <a class="page-link" style='cursor: pointer;'>Previous</a>
            </li>
            <% for(let i=1;i<=totalPages;i++) {%>
            <li class="page-item" id=page/<%= i %>/<%- limit %>/<%- totalPages %>/<%- currentPage %>><a class="page-link" style='cursor: pointer;'><%= i %></a></li>
            <% } %>
            <li class="page-item" id=page/<%- nextPage %>/<%- limit %>/<%- totalPages %>/next>
              <a class="page-link" style='cursor: pointer;'>Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </main>
<%} else { %>
  <h3> No any course yet!</h3>
  <% } %>
    <footer><%- include('../partials/footer.ejs'); %></footer>


    <script>
      console.log('course is here');

      localStorage.setItem("page",<%- page %>);
      localStorage.setItem("limit",<%- limit %>);

      const pageItems = document.getElementsByClassName('page-item');

          let currentPage = <%- page %>;
          const limit = <%- limit %>;
          const totalPages = <%- totalPages %>;

          if (currentPage > totalPages) {
            currentPage = totalPages;
            window.location.href = `http://localhost:3000/app/course?page=${currentPage}&limit=${limit}`
          }
          if (totalPages !== 0) {
            const currentPageId = `page/${currentPage}/${limit}/${totalPages}/${currentPage}`;
            const currentPageButton = document.getElementById(currentPageId.toString());
            currentPageButton.classList.add('active');
          }

          if (totalPages!== 0 && (currentPage-1 === 0 || <%= previousPage %> === 0)) {
            //previous desible
            const previousPageId = `page/${currentPage-1}/${limit}/${totalPages}/prev`;
            const previousPageButton = document.getElementById(previousPageId.toString());
            previousPageButton.classList.add('disabled');
            
          }

          if (totalPages !== 0 && ((currentPage + 1) > totalPages || <%= nextPage %> === 0)) {
            //next desible
            const nextPageId = `page/0/${limit}/${totalPages}/next`;
            const nextPageButton = document.getElementById(nextPageId.toString());
            nextPageButton.classList.add('disabled');
          }

          if (pageItems.length) {
            for (let i = 0; i < pageItems.length; i++) {
              pageItems[i].addEventListener('click',()=>{
                
                let page = pageItems[i].id;
                page = page.split('/');
                //currentPage , limit , totalPages
                const currentPage = parseInt(page[1],10);
                const limit = parseInt(page[2],10);
                // const totalPages = parseInt(page[3],10);

                window.location.href = `http://localhost:3000/app/course?page=${currentPage}&limit=${limit}`;

              }); 
            }
          }
      

      const addCourseClicked = () => {
        window.location.href = `http://localhost:3000/app/course/create`;
      }

      const editClicked = (editName) => {
        
        let editIndex = editName.split('-');
        editIndex = parseInt(editIndex[1]);
        
        window.location.href = `http://localhost:3000/app/course/edit/${editIndex}`;   
      }

      const deleteClicked = (deleteName) => {

        let isExecuted = confirm(`Are you sure to delete this course?`);

        let deleteIndex = deleteName.split('-');
        deleteIndex = parseInt(deleteIndex[1]);
        // console.log(deleteIndex);
        // const myBody = {};

        const userAction = async () => {
        await fetch(`http://localhost:3000/app/course/delete/${deleteIndex}`, {
          method: 'DELETE',
          // body: JSON.stringify(myBody),
          headers: {
            'Content-Type': 'application/json'
          }
        });

        setTimeout(() => {
          //false wrong when delete row and page is empty!
          window.location.href = `http://localhost:3000/app/course?page=${currentPage}&limit=${limit}`
          // location.reload();
          }, 1500);
        }

        if (isExecuted === true) {
          userAction();
        }
      }
    </script>
  </body>
</html>
